/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* NAVBAR */
header {
    background: linear-gradient(135deg, #6C63FF, #4F46E5);
    color: #fff;
    padding-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
}

nav .logo {
    font-size: 26px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffffcc;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 70px 8%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    margin: 20px auto;
    font-size: 18px;
    max-width: 600px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #fff;
    color: #4F46E5;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #f1f1f1;
}

.large-btn {
    padding: 18px 40px;
    font-size: 20px;
}

/* FEATURES */
.features {
    padding: 80px 8%;
    text-align: center;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.feature-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature-item {
    background: #f9f9ff;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.feature-item:hover {
    transform: translateY(-5px);
}

/* SCREENSHOTS */
.screenshots {
    padding: 80px 8%;
    text-align: center;
}

.screenshots h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.images img {
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* DOWNLOAD */
.download {
    padding: 80px 8%;
    text-align: center;
    background: #f5f5f7;
}

.download h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #bbb;
    font-size: 14px;
}
